.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    right: 71%;
    top: 5%;
    z-index: 9999;
}

.next-btn, .previous-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next-btn{
    right: 26%;
    border-radius: 3px 0 0 3px;
}

.previous-btn{
    right: 71.5%;
}

@media only screen and (max-width: 300px) {
    .next-btn, .previous-btn{
        font-size: 11px
    }
}

.photo-gallery{
    width: 50%;
    background-color: black;
    position: relative;
    /*left: 20%;*/
}

.gallery-block{
    position: relative;
    margin: auto;
}

.slide-block{
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}